@import "tailwindcss";

@source "../../../apps/**/*.{js,ts,jsx,tsx,html}";
@source "../../../packages/**/*.{js,ts,jsx,tsx,html}";

/* ================================
   Design Tokens (Transportation App)
   Tailwind CSS v4 (CSS-first)
================================ */

@theme {
  /* ---------- Brand ---------- */
  --color-primary: #2563eb; /* Blue → navigation, main actions */
  --color-primary-hover: #1d4ed8;
  --color-primary-foreground: #ffffff;

  /* ---------- Secondary ---------- */
  --color-secondary: #0f172a; /* Dark slate */
  --color-secondary-hover: #020617;
  --color-secondary-foreground: #ffffff;

  /* ---------- Success ---------- */
  --color-success: #16a34a; /* Trip accepted */
  --color-success-hover: #15803d;
  --color-success-foreground: #ffffff;

  /* ---------- Warning ---------- */
  --color-warning: #f59e0b; /* Delay / alert */
  --color-warning-hover: #d97706;
  --color-warning-foreground: #000000;

  /* ---------- Danger ---------- */
  --color-danger: #dc2626; /* Cancel / error */
  --color-danger-hover: #b91c1c;
  --color-danger-foreground: #ffffff;

  /* ---------- Neutral ---------- */
  --color-border: #e5e7eb;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  
  /* app background */
  --color-background: #e7e7e7;
  --color-forground: #020617;

  /* text */
  --color-text-gray: #808080;
  --color-text-white: #ffffff;
  /* backdrop */
  --color-back-drop: #f8bb54;
  /* navbar hover */
  --color-navbar-hover: #11e078;
  /* green Background */
  --color-green-background: #00a85a;
}

/* :root {
  --color-primary: #1e40af;
  --color-secondary: #f59e0b;
  --color-danger: #dc2626;
  --color-success: #198754;
} */

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-forground);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
}
