@import "@repo/tailwind-config";
/* Hide scrollbar for all browsers */
body, html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}